# Bảo mật: Không bao giờ lưu API Key
.env
*/.junie

# Python: Bỏ qua các file rác khi chạy code
__pycache__/
*.py[cod]
*$py.class

# Môi trường ảo: Không cần lưu vì mỗi máy tự cài lại được
.venv/
venv/

# PyCharm: Các file cài đặt riêng của phần mềm
.idea/

# Dữ liệu: Thường file PDF hoặc database local sẽ rất nặng
*.pdf
*.db

.junie/
**/back_end/.junie/